<div class="col-md-6 col-md-offset-3">
    <div class="row item">
      <div class="col-md-8">
        <h2 class="item-title"><%= @item.title %></h2>
        <p class="item-desc item-sub-title"><%= @item.description  %></p>
        <p style="opacity: 0.2;" class="item-desc item-sub-title">Created <%= time_ago_in_words(@item.created_at) %> ago</p>
      </div>

      <div class="col-md-2">
        <p><%= link_to root_path, method: :get do %></p>
        <i class="fa fa-lg fa-check">Back</i>
        <% end %>
      </div>

      <div class="col-md-2">
        <p><%= link_to edit_item_path(@item), method: :get do %></p>
        <i class="fa fa-lg fa-wrench">Edit</i>
        <% end %>
      </div>
    </div>
</div>